/*********************************************************
-------------------------- Haze --------------------------
Design: apopagasm
CSS: Exanurous
Build: 41
Bug Reports: forums.php?action=viewthread&threadid=584
Style derived from Gazelle Postmod
*********************************************************/

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,bold);
@import url(https://gitcdn.link/cdn/exanurous/haze_pth/master/layout-dark.css);
@import url(https://gitcdn.link/cdn/exanurous/haze_pth/master/panel-dark.css);

/* Background Image */
body {
	background-image: url('https://i.imgur.com/0ZIXldK.png');
	background-repeat: repeat;
	background-size: initial !important;
}