/*********************************************************
-------------------------- Haze --------------------------
Design: apopagasm
CSS: Exanurous
Bug Reports: forums.php?action=viewthread&threadid=584
Style derived from Gazelle Postmod
*********************************************************/

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,bold);
@import url(https://gitcdn.link/cdn/exanurous/beluga/master/theme-grayscale.css);
@import url(https://gitcdn.link/cdn/exanurous/beluga/master/blur.css);

/* Background Image */
body          {background-image: url('https://i.imgur.com/oHzqDOl.jpg');}
#extra3:after {background-image: url('https://i.imgur.com/oHzqDOl.jpg');}