/*********************************************************
-------------------------- Haze --------------------------
Design: apopagasm
CSS: Exanurous
Bug Reports: forums.php?action=viewthread&threadid=584
Style derived from Gazelle Postmod
*********************************************************/

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,bold);
@import url(https://gitcdn.link/cdn/exanurous/haze_pth/master/theme-grayscale.css);

/* Background Image */
body {background-image: url('https://i.imgur.com/k6mABDr.jpg');}